// bg colors
$bgcolor: linear-gradient(0deg, rgba(22,22,22,1) 0%, rgba(31,31,31,1) 100%);
$hoverbg: rgba(17, 17, 17, 0.8);

// font colors
$brand-color: #ecc880;
$white:#f8f8f8;
$grey: #cacaca;

// breakpoints
$tabletBreakpoint: 650px;
$smallDesktopBreakpoint: 950px;
$mediumDesktopBreakpoint: 1250px;
$largeDesktopBreakpoint: 1600px;